<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<header>
    <nav class="navbar navbar-light p-3 ps-2 pe-2" style="background-color: #FFBEBD">
        <div class="container-fluid" style="color: #FCFCFA; font-weight: bold; font-size: medium ">
            <a class="navbar-brand" style="color: #FCFCFA" >Navbar</a>
            <form class="d-flex input-group w-auto">
                <input type="search"
                       class="form-control rounded"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="search-addon" />
                <button class="btn btn-outline-light btn-light m-1 rounded" style="color: #FCFCFA; background-color: #337BAE " type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
        <div class="text-center p-3" style="background-color: #1A405F">
            <a class="text-white" href="https://youtu.be/dQw4w9WgXcQ">About us</a><br/>
            © 2022 Copyright by FluffyRabbits
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>