@using System.Drawing
@model CinemaScopeWeb.ViewModels.AboutUsViewModel
@{
    ViewBag.Title = "Edit";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/Content/about-us-stylesheet.css" />
}
<div style="color: #FCFCFA">
    <h2>Edit</h2>
    <br />
    <div class="menu">
        @using (Html.BeginForm("Edit", "AboutUs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="frame1">
                @Html.Raw("<img id=\"show\" style=\"width: 250px; height: 350px; \" src=\"data:image/jpeg;base64," +
                                         Convert.ToBase64String(Model.Image) + "\" />")
            </div>
            <div class="frame2">
                @Html.LabelFor(m => m.Name)
                <br />
                @Html.TextBoxFor(m => m.Name)
                <br />
                @Html.ValidationMessageFor(m => m.Name)
                <br />
                @Html.LabelFor(m => m.Description)
                <br />
                @Html.TextAreaFor(m => m.Description)
                <br />
                @Html.ValidationMessageFor(m => m.Description)
                <br />
                <div class="form-group">
                    <input type="button" id="loadFile" value="Select image" onclick="document.getElementById('file').click();" class="btn btn-info" />
                    <input type="file" style="display:none;" id="file" name="file" accept=".jpg,.jpeg,.png" />
                    <script>
                        function handleFileSelect(evt) {
                            var reader = new FileReader();
                            var file = evt.target.files;
                            var img = document.getElementById('show');
                            reader.onload = function (e) { img.src = e.target.result };
                            reader.readAsDataURL(evt.target.files[0]);
                        }
                        document.getElementById('file').addEventListener('change', handleFileSelect, false);</script>
                </div>
                <br />
                <br />
                @Html.HiddenFor(m => m.Id)
                <button type="submit" class="btn btn-warning">Edit</button>
                <br />
                @Html.ActionLink("Cancel", "Index", "AboutUs", new { area = "" }, new { @class = "btn btn-info" })
            </div>
        }
    </div>
</div>











