@using PagedList.Mvc
@model CinemaScopeWeb.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Cinema Scope";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row accordion-item p-0 m-0" style="background-color: #fffbf0; color: #bba2f2 ">
    <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed text-center m-0"
                type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="False" aria-controls="flush-collapseOne"
                style="outline: none; box-shadow: none; background-color: #fffbf0; color: #bba2f2 ">
            Filters
        </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        @using (Html.BeginForm("FilteringResult", "Home"))
        {
            <div class="row">
                <div class="col-3">
                    <select size="4" class="form-select" multiple
                            style="outline: none; box-shadow: none; background-color: #fffbf0; color: #bba2f2 "
                            aria-label="Default select example"
                            name="genres">
                        <option disabled="disabled">Genre</option>
                        @foreach (var genre in @Model.Genres)
                        {
                            <option value="@genre">@genre</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <select size="4" class="form-select" multiple
                            style="outline: none; box-shadow: none; background-color: #fffbf0; color: #bba2f2"
                            aria-label="Default select example"
                            name="countries">
                        <option disabled="disabled">Country</option>
                        @foreach (var country in @Model.Countries)
                        {
                            <option value="@country">@country</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <select size="4" class="form-select" multiple
                            style="outline: none; box-shadow: none; background-color: #fffbf0; color: #bba2f2"
                            aria-label="Default select example"
                            name="types">
                        <option disabled="disabled">Type</option>
                        @foreach (var type in @Model.Types)
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <select size="4" class="form-select" multiple
                            style="outline: none; box-shadow: none; background-color: #fffbf0; color: #bba2f2 "
                            aria-label="Default select example"
                            name="years">
                        <option disabled="disabled">Year</option>
                        @foreach (var year in @Model.Years)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>

                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="col-6 mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="isWatched"  disabled="disabled">
                            <label class="form-check-label" for="flexCheckDefault">
                                Watched
                            </label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-6 mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" name="isWatched">
                            <label class="form-check-label" for="flexCheckDefault">
                                Watched
                            </label>
                        </div>
                    </div>
                }
                <div class="col-6 mt-2">
                    <button type="submit"
                            class="btn btn-outline-light btn-light rounded float-end"
                            style="color: #FCFCFA; background-color: #2d2d2d;">
                        Apply filters
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-black container-fluid" style="box-sizing: content-box; width: auto">
    <div class="row d-flex justify-content-center">
        @foreach (var movie in @Model.Movies)
        {
            <div class="col-2 m-3 p-1">
                <div class="row justify-content-around">
                    <img class="btn p-0" style="width: 100%; height: 100%" alt=""
                         onclick="location.href = '@Url.Action("Get", "Movies", new {id = movie.Id})'" src="@movie.Poster" />
                </div>
                <div class="row justify-content-center">
                    <div align="center">
                        <a class="p-0 text-black text-decoration-none" href="@Url.Action("Get", "Movies", new {id = movie.Id})">@movie.Title</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div style="display: flex;align-items: center;">@Html.PagedListPager(Model.Movies, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)</div>
<br/>
<script>
    $('option').mousedown(function (e) {
        e.preventDefault();
        jQuery(this).toggleClass('selected');

        jQuery(this).prop('selected', !jQuery(this).prop('selected'));
        return false;
    });
</script>