@model CinemaScopeWeb.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>UserProfile</h2>
<br />
<br />
<h4>@Html.LabelFor(m => m.FirstName)</h4>
<h4>@Model.FirstName</h4>
<br />
<h4>@Html.LabelFor(m => m.UserName)</h4>
<h4>@Model.UserName</h4>
<br />
<h4>@Html.LabelFor(m => m.LastName)</h4>
<h4>@Model.LastName</h4>
<br />
<h4>@Html.LabelFor(m => m.Email)</h4>
<h4>@Model.Email</h4>
<h4>Watched Movies:</h4>
@{
    foreach (var movie in Model.WatchedMovies)
    {
        <img src="@movie.Poster" style="width:150px;height:250px;">
        <h4>@Html.ActionLink(movie.Title, "Get", "Movies", new { Id = movie.Id }, null)</h4>
    }
}
<h4>Liked Movies:</h4>
@{
    foreach (var movie in Model.LikedMovies)
    {
        <img src="@movie.Poster" style="width:150px;height:250px;">
        <h4>@Html.ActionLink(movie.Title, "Get", "Movies", new { Id = movie.Id }, null)</h4>
    }
}
<h4>Disliked Movies:</h4>
@{
    foreach (var movie in Model.DislikedMovies)
    {
        <img src="@movie.Poster" style="width:150px;height:250px;">
        <h4>@Html.ActionLink(movie.Title, "Get", "Movies", new { Id = movie.Id }, null)</h4>
    }
}
<br />